* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: 'DM Sans', sans-serif;
  min-height: 100vh;
  height: 100%;
  position: relative;
}
.cek {
  border: 1px solid black;
}
section.hero-section {
  margin: auto 0;
  width: 100%;
  height: 100vh;
  padding-top: 3vmax;
  padding-bottom: 3vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9D9C9C;
  color: #2F2E2E;
}
.hero-image {
  border-radius: 5px;
  background-color: #FFFCFC;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
  padding: 2vmax;
  width: 35vmax;
  text-align: center;
}
.hero-title {
  display: block;
  font-size: 30px;
  margin: 2vh 0;
}

.hero-text {
  font-size: 1.5vmax;
  color: #9D9C9C;
}
.wrap-height {
/*   min-height: 100%; */
  margin-top: 1vh;
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-hero {
  border-radius: 5px;
/*   margin: 2.5vh 0; */
  padding: 1.5vw;
  background-color: #2F2E2E;
 color: #fff;
  cursor: pointer;
  transition: all .2s;
  font-size: 15px;
}
.btn-hero:hover {
  background-color: #9D9C9C;
 color: #fff;
}
a {
 text-decoration: none;
}
li {
 list-style: none;
}
/* NAVBAR STYLING STARTS */
.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: #2F2E2E;
 color: #fff;
}
.nav-links a {
 color: #fff;
}
/* LOGO */
.logo {
 font-size: 18px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* NAVBAR MENU */
.menu {
 display: flex;
 gap: 1em;
 font-size: 18px;
}
.menu li:hover {
 background-color: #4c9e9e;
 border-radius: 5px;
 transition: 0.3s ease;
}
.menu li {
 padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
 position: relative; 
}
.dropdown {
 background-color: rgb(1, 139, 139);
 padding: .5em;
 position: absolute; /*WITH RESPECT TO PARENT*/
 display: none;
 border-radius: 8px;
 top: 35px;
}
.dropdown li + li {
 margin-top: 10px;
}
.dropdown li {
 padding: 0.5em 1em;
 width: 10em;
 text-align: center;
}
.dropdown li:hover {
 background-color: #4c9e9e;
}
.services:hover .dropdown {
 display: block;
}
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
 display: none;
} 
/*HAMBURGER MENU*/
.hamburger {
 display: none;
 font-size: 24px;
 user-select: none;
}
/*FOOTER STYLING*/
footer {
  margin-top: auto;
/*   position: absolute;
  left: 0;
  right: 0;
  bottom: 0; */
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 2vmax;
 background-color: #2F2E2E;
 color: #fff;
  font-size: 15px;
}
.copyright {
  text-align: right;
}
.socmed {
  display: flex;
  gap: 2vmax;
}

.socmed {
  cursor: pointer;
}

/* UX SECTION */
.mySkills {
  text-align: left;
  margin: 3vmax .5vmax;
  padding: 1vmax;

}
.flexContainer {
  text-align: left;
  display: flex;
  justify-content: space-evenly;
  margin: 2vh 0;
  height: 60vh;
  padding: 0;
  overflow: auto;
}
.flexContainer div {
  width: 33%;
  height: auto;
  margin: 1vw;
  padding: 1vw;
}
.flexContainer img {
  width: 8vmax;
  height: auto;
  min-height: 9vmax;
}
.flexContainer h3 {
  margin: 1vh 0;
}

/* WORK SECTION */
.myWork {
  text-align: left;
  margin: 3vmax .5vmax;
  padding: 1vmax;
}
.workGrid {
  display: grid;
  grid-gap: 1vmax;
  grid-template-areas: 'myArea myArea';
  margin: 2vh 0;
}
.workGrid > div > div {
  padding: 1vw;
  margin: 1vh 0;
}
.workGrid img {
  border-radius: 3px;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
.menu { 
 display:none;
 position: absolute;
 background-color:teal;
 right: 0;
 left: 0;
 text-align: center;
 padding: 16px 0;
  margin-top: 5vh;
}
.menu li:hover {
 display: inline-block;
 background-color:#4c9e9e;
 transition: 0.3s ease;
}
.menu li + li {
 margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
 display: block;
}
.hamburger {
 display: block;
  cursor: pointer;
}
.dropdown {
 left: 50%;
 top: 30px;
 transform: translateX(8%);
}
.dropdown li:hover {
 background-color: #4c9e9e;
}
}